<!-- Inspired by https://github.com/UMSWC/2017-10-16-umswc/blob/gh-pages/_includes/sc/schedule.html -->
<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Friday, Oct 18th</h3>
    <table class="table table-striped">
      <tr> <td>08:45-09:00</td>  <td>Setup, pre workshop survey</td> </tr>
      <tr> <td>09:00-10:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank"> Automating tasks with the Unix shell</a></td> </tr>
      <tr> <td>10:30-10:45</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45-12:15</td>  <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank"> Continue Shell lesson</a></td> </tr>
      <tr> <td>12:15-13:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15-14:45</td>  <td><a href="http://swcarpentry.github.io/matlab-novice-inflammation/" target="_blank"> Programming in MATLAB/GNU Ocatave</a></td> </tr>
      <tr> <td>14:45-15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:00-16:30</td>  <td><a href="http://swcarpentry.github.io/matlab-novice-inflammation/" target="_blank"> Writing MATLAB Scripts</a></td> </tr>
      <tr> <td>16:30-16:45</td>  <td>Wrap-up</td> </tr>
    </table>
     </div>
  </div>
    
<div class="row">
    <div class="col-md-6">
    <h3>Day 2: Tuesday, May 22th</h3>
    <table class="table table-striped">
      <tr> <td>09:00-10:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/" target="_blank"> Version Control with Git </a></td> </tr>
      <tr> <td>10:30-10:40</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45-12:15</td>  <td><a href="http://swcarpentry.github.io/git-novice/" target="_blank"> Version Control with Git </a></td> </tr>
      <tr> <td>12:15-13:15</td>  <td>Lunch break (On your own)</td> </tr>
      <tr> <td>13:15-14:45</td>  <td><a href="http://swcarpentry.github.io/matlab-novice-inflammation/" target="_blank"> Repeating With Loops</a></td> </tr>
      <tr> <td>14:45-15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:00-16:30</td>  <td><a href="http://swcarpentry.github.io/matlab-novice-inflammation/" target="_blank"> Conditionals and Writing Functions in MATLAB
</a></td> </tr>
      <tr> <td>16:30-16:45</td>  <td>Wrap-up, post workshop survey</td> </tr>
    </table>
  </div>
</div>

